body{
	background-color: #e1d0e0;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.outer-frame{

	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	max-height: 650px;
	width: 90%;
	padding: 20px;
	background-color: #212529;
}

.display-result{
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset -7px -7px 12px #727272,
                inset 7px 7px 12px #ffffff;
	width: 100%;
	/* border: 5px solid black; */
	height: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.input{
	text-align: right;
	/*user may enter too many number so we are using it*/
	overflow: hidden; 
	width: 80%;
	height: 70px;
	font-size: 2rem;

}
.value{
	color: #41403E;
	font-size: 2rem;
	width: 50px;
	height: 50px;
    flex: 1;

}
.value:hover{
	background: #ccd3db;
    box-shadow: inset 7px -7px 14px #83878c,
    inset -7px 7px 14px #ffffff;
    transition: .8s ease;
}
.flex-row{
	display: flex;
	flex-direction: row;
	/*padding: 1rem;*/
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
#refresh{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
   
}
.enter{
    box-shadow: inset -7px -7px 14px #7c8186,
            inset 7px 7px 14px #ffffff;
}

.ref-button{
	margin-left:3.5rem;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .ref-button:hover {
    background-color: #212529;
    box-shadow: 0px 15px 20px #212529;
    color: #fff;
    transform: translateY(-7px);
  }
